.navbar-nav {
  float: right;
}

form#category-select {
  padding: 2em 0 .5em;
}

#category-select input[type=text] {
  width: 350px;
}

table#category-list td {
  padding: .5em 1.5em;
}

h2#label {
  margin-left: .6em;
}

div#description {
  padding: 0 2em;
}

div#snippet {
  margin-top: 2em;
  padding: 1.5em;
  background: #eee;
  width: 350px;
}
