{% extends 'layout.twig' %}

{% block h1 %}Category members{% endblock %}
{% block main %}
<ul>
{% if items|length == 0 %}
Items not found.
{% else %}
{% for item in items %}
<li><a href="https://en.wikipedia.org/wiki/{{ item.page }}">{{ item.page }}</a> ({{ item.id }})</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
